
/*
body {
	background: #F6F6F6;
	margin: 0 auto;
	font-family: Arial;
	color: #374E5A;
	font-size: 14px;
	line-height: 140%;
	width: 760px;
}

h2, h3 {
	margin-top: 40px;
	font-size: 14px;
	padding: 2px 0;
	border-bottom: 2px solid #D74F25;
	border-bottom: 1px solid #46d0fe;
}

h3 {
	margin-top: 20px;
}

*/

.naglasi {
	color: #d74f25;
}


a {
	color: #D74F25;
}

input, textarea {
	font: 14px arial;
	color: #000000;
	border: solid 1px #ccc;
	padding: 6px;
	background: #ffffff;
}

input:focus, textarea:focus
{
	background: #f6f6f6;
	font-family: arial;
	color: #000000;
}

textarea {
	width: 30em;
}

.input {
	color: #afafaf;
	float: left;
	margin: 2px;
	padding: 0 6px;
}

.text1 {
	width: 30em;
	margin-bottom: 3px;
}
.text2 {
	width: 12em;
}


.labels1 {
	font-style: italic;
	padding-bottom: 5px;
}

.label1 {
	padding-right: 27em;
}
.label2 {
}

img {
	border: 0;
}

label {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-family: Arial;
}

.radio { 
	color: #374E5A;
}


.clear {
	clear: both;
}



.ng-validation-error {
	border: 1px solid #FF6666;
	border: 1px solid #EDC8BC;
	border: 1px solid #FF9966;
	border: 1px solid #EAB3A2;
	border: 1px solid #D74F25;
	border: 1px solid #DC6844;
	border: 1px solid #DE7F61;
}

.ng-exception {
	border: 0;
}



.button {
	margin-top: 40px;
	clear: both;
}

.button input {
	margin-bottom: 10px;
	float: left;
	color: #ffffff;
	display: block;
	text-decoration: none;
	background: #d74f25;
}

.button input:hover, .gohome:hover {
	/* background: #dc6844;	*/
}

.button p {
	color: #D74f25;
	font-weight: bold;
}

.button2 input {
	background: #F6F6F6;
	color: #374E5A;
	border: 1px solid #d74f25;
	display: inline;
}


.gohome  {
	float: left;
	color: #374E5A;
	border: 1px solid #d74f25;
	text-decoration: none;
	background: #f6f6f6;
	padding: 7px;
	margin-top: 20px;
	font: 14px arial;
	border: solid 1px #dedede;
	border: solid 1px #f6f6f6;
}

.gohome a {
}

.gohome a:hover {
	text-decoration: none;
}

.list {
	margin-top: 20px;
	font-weight: bold;
}

.warrning {
	color: #FF6666;
}

#footer {
	position: relative;
	float: left;
	width: 961px;
	height: 18px;
	padding-top: 5px;
	margin-top: 180px;
	margin-bottom: 20px;
	font: 10px arial;
	color: #374e5a;
	text-align: center;
	background: url(http://mjesec.ffzg.hr/drzb2011/images/footer_bg.jpg) repeat-x;
	clear: both;
}
	
#foot a
{
	position: relative;
	top: 12px;
	margin-bottom: 20px;
	font: 12px arial;
	color: #374e5a;
	text-align: center;
	text-decoration: none;
}

#foot a:hover
{
	color: #374e5a;
	text-decoration: underline;
}


hr {
	border: 1px solid #ccc;
}

.lengthCount {
	color:red;
}
