
body {
	background: #F6F6F6;
	margin: 0 auto;
	font-family: Arial;
	color: #374E5A;
	font-size: 14px;
	line-height: 140%;
	width: 961px;
}

img {
	border: 0;
}
/* ----- MENU ----- */

#navigation
{
	position: relative;
	float: left;
	text-align: left;
	width: 794px;
	height: 60px;
	font: 16px arial;
/*	background: url(http://mjesec.ffzg.hr/drzb2011/images/menu_bg.gif) repeat-x;	*/
}

#navigation ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 33px;
	width: 794px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#navigation ul li {
	position: relative;
	float: left;
	display: inline;
	height: 33px;
	border-right: 1px solid #ccc;
}
	
#navigation li ul {
	position: absolute;
	left: -50%;
	top: 28px;
	border: 0;
	display: none;
}

#navigation li ul li {
	border: 0;
	border-right: 1px solid #ccc;
	height: 19px;
	margin-top: 10px;
}

#navigation ul li a {
	display: block;
	float: left;
	text-decoration: none;
	color: #777;
	background: #f6f6f6; /* IE6 Bug */
	padding: 5px 10px;
	height: 23px;
}

#navigation ul li a:hover { 
	color: #d74f25;
	border-bottom: 1px solid #f6f6f6;
}


#navigation li ul li a {
	padding: 1px 10px;
}

		
#navigation li:hover ul { 
	display: block; 
}

/* Holly Hack. IE Requirement \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */

#mainNav_right
{
	position: relative;
	float: left;
	text-align: left;
	width: 167px;
	height: 33px;
	font: 16px arial;
	display: block;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#mainNav_right ul 
{
	display: inline;
}

#mainNav_right li 
{ 
	display: inline;
}

#mainNav_right li a
{
	float: left;
  	height: 27px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	color: #91959c;
	text-align: center;
	text-decoration: none;
	display: block;
}

#mainNav_right li a:hover
{
	color: #d74f25;
	text-decoration: none;
	display: block;
}

#mainNav_right li a.active
{
	float: left;
  	height: 27px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	text-align: center;
	color: #d74f25;
	text-decoration: none;
	display: block;
}



label {
	display: block;
	color: #D74F25;
	color: #374E5A;
	color: #afafaf;
	margin-top: 10px;
	font-size: 14px;
	font-family: Arial;
}

.title {
	position: relative;
	float: left;
	text-align: left;
	width: 100%;
/*	background: url(http://mjesec.ffzg.hr/drzb2011/images/crta.gif) repeat-x bottom;	*/
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
	margin: 0;
	margin-top: 10px;

}

h1
{
	float: left;
/*	margin-bottom: 6px;	*/
	padding-left: 20px;
	font: 18px arial;
	color: #0c1426;
	text-align: center;
	text-decoration: none;
	display: block;
	background: url(http://mjesec.ffzg.hr/drzb2011/images/kvadrat.gif) no-repeat left;
	margin: 0;
}


h2, h3 {
	margin-top: 60px;
	font-size: 14px;
	padding: 2px 0;
	border-bottom: 2px solid #D74F25;
	border-bottom: 1px solid #46d0fe;
}

h3 {
	margin-top: 20px;
}

a {
	color: #D74F25;
}

label {
	color: #374E5A;
}

.input, .inputOrg {
	color: #afafaf;
	float: left;
	margin: 2px;
	padding: 0 6px;
}

.inputOrg {
	color:  #374E5A;
}

.input1 {
	width: 40.8em;
}

.input2 {
	width: 8em;
}

.input3 {
	width: 13em;
}
.input4 {
	width: 10em;
}

.input5 {
	width: 21.4em;
}
.input6 {
	width: 6.3em;
}

.clear {
	clear: both;
}


.authors {
	clear: both;
	margin-bottom: 6px;
}

.addPerson {
	color: #D74F25;
	color: #EDC8BC;
	color: #EAB3A2;
	font-size: 90%;
}

input, textarea {
	font: 14px arial;
	color: #000000;
	border: solid 1px #dedede;
	padding: 6px;
	background: #f6f6f6;
}

input:focus, textarea:focus
{
	
	background: #ffffff;
	font-family: arial;
	color: #000000;
/*	border: 1px solid #46d0fe; */
}

.ng-validation-error {
	border: 1px solid #FF6666;
	border: 1px solid #EDC8BC;
	border: 1px solid #FF9966;
	border: 1px solid #EAB3A2;
	border: 1px solid #D74F25;
	border: 1px solid #DC6844;
	border: 1px solid #DE7F61;
}

.ng-exception {
	border: 0;
}


#work, #submission {
	margin-bottom: 20px;
}

.button {
	margin-top: 20px;
	width: 40.8em;
}

.button input {
	margin-bottom: 10px;
	float: left;
	color: #ffffff;
	display: block;
	text-decoration: none;
	background: #d74f25;
}

.button input:hover, .gohome:hover {
	/* background: #dc6844;	*/
}

.button2 input {
	background: #F6F6F6;
	color: #374E5A;
	border: 1px solid #d74f25;
	display: inline;
}


.gohome  {
	float: left;
	color: #374E5A;
	border: 1px solid #d74f25;
	text-decoration: none;
	background: #f6f6f6;
	padding: 7px;
	margin-top: 20px;
	font: 14px arial;
	border: solid 1px #dedede;
	border: solid 1px #f6f6f6;
}

.gohome a {
}

.gohome a:hover {
	text-decoration: none;
}

.list {
	margin-top: 20px;
	font-weight: bold;
}

.warrning {
	color: #FF6666;
}

.sworks {
	margin-top: 20px;
}


.newWork {
	clear: left;
	margin-top: 50px;
}
.saved {
	margin-bottom: 20px;
	margin-top: 20px;
}
.saved2 {
	color: #374E5A;
	color: #d74f25;
	font-weight: bold;
	font-style: italic;
	display: block;
}
.saved3 {
	color: #374E5A;
	font-weight: normal;
	margin-top: 20px;
}
#footer {
	position: relative;
	float: left;
	width: 961px;
	height: 18px;
	padding-top: 5px;
	margin-top: 180px;
	margin-bottom: 20px;
	font: 10px arial;
	color: #374e5a;
	text-align: center;
	background: url(http://mjesec.ffzg.hr/drzb2011/images/footer_bg.jpg) repeat-x;
	clear: both;
}
	
#foot a
{
	position: relative;
	top: 12px;
	margin-bottom: 20px;
	font: 12px arial;
	color: #374e5a;
	text-align: center;
	text-decoration: none;
}

#foot a:hover
{
	color: #374e5a;
	text-decoration: underline;
}


hr {
	border: 1px solid #ccc;
}
.lengthCount {
	color:red;
}
